﻿{% extends "base.html" %}
{% block title %}About Page{% endblock %}

{% block content %}
<div>
    <h1>Bike Shop Monitoring About Page</h1>
    <p>
        This website is intended for an IT department to monitor the database of the bike shop to ensure that the database is working properly.
        The home page displays a graphical representation of the state of the database with different metrics. The API that is setup for the monitoring team's
        database receives information from the bike shops API then adds the information to the monitoring database.
        This information is then updated on our visuals on the home page.
    </p>
</div>
<div>
    <h3>Metrics the Database Tracks</h3>
    <ul>
        <li>CPU Utilization</li>
        <li>Free Memory</li>
        <li>Free Storage Space</li>
        <li>Network Receive Throughput</li>
        <li>Network Transmit Throughput</li>
        <li>Database Connections</li>
        <li>Write IOPS</li>
        <li>Read IOPS</li>
        <li>Write Throughput</li>
        <li>Read Throughput</li>
        <li>Write Latency</li>
        <li>Read Latency</li>
    </ul>
</div>
<div>
    <h3>Team Fun Members and Jobs</h3>
    <ul>
        <li>Ricky Keller     - Product Owner</li>
        <li>Brett Lane       - Scrum Master</li>
        <li>Travis Barton    - Developer</li>
        <li>Markis Dearstone - Developer</li>
        <li>David Hopland    - Developer</li>
        <li>Connor Loyd      - Developer</li>
        <li>Ryan Shupe       - Developer</li>
    </ul>
</div>

{% endblock %}