{% extends "base.html" %}
{% block title %}Metrics Page{% endblock %}

{% block content %}
<div class="p-3 mb-2 bg-dark text-white">
    <div class="text-center">
        <h2>Metrics Data Graphs</h2>
        <p>Graphs are updated every hour.</p>
        <!-- <p>Last updated: 99/99/9999 at 99:99 PM</p> -->
		<p id="date"></p>
		<script>
			n =  new Date();
			y = n.getFullYear();
			m = n.getMonth() + 1;
			d = n.getDate();
			h = n.getHours();
			mi = n.getMinutes();
			s = n.getSeconds();
			document.getElementById("date").innerHTML = m + "/" + d + "/" + y + " at " + h + ":" + mi + ":" + s;
		</script>
		<p id="date"></p>
      <img src="/plot.png" class="rounded" alt="...">
    </div>
</div>

{% endblock %}